.main .container h2.mds {
  margin-bottom: 17px;
}

.main .container form .c_block {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container form .c_block .btn_box {
  margin-top: 0;
}

.main .container form .c_block .btn_box .btn {
  width: 176px;
  padding: 10px 0;
}

.main .container form .content {
  padding: 20px 42px;
  background-color: #FFFFFF;
}

.main .container form .content .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container form .content .input_box input.first-day {
    width: calc(50% - 10px);
    border: none;
    padding: 0;
}

.main .container form .content .input_box input.last-day {
    width: calc(50% - 10px);
    border: none;
    padding: 0;
}

.main .container form .content .input_box {
  margin-right: 32px;
}

.main .container form .content .input_box h3 {
  margin-bottom: 8px;
}

.main .container form .content .input_box select {
  width: 275px;
}

.main .container form .content .input_box:last-child {
  margin-right: 0;
}

.main .container form .content .input_box.kind select {
  width: 129px;
}

.main .container form .content .input_box.property {
  margin-right: 20px;
}

.main .container form .content .input_box.property select {
  width: 416px;
}

.main .container form .content .input_box.issue-room input {
  width: 200px;
}

.main .container form .content .input_box.c-detail input {
  width: 100%;
}

.main .container form .content .text {
  margin-top: 22px;
  margin-right: 35px;
}

.main .container form .content.first {
  width: 800px;
}

.main .container form .content.second .top {
  margin-bottom: 20px;
}

.main .container form .btn_box {
  text-align: right;
  margin-top: 32px;
}

.main .container form .btn_box .btn {
  display: inline-block;
  background-color: #ECA16A;
  color: #fff;
  border: 1px solid #ECA16A;
  border-radius: 6px;
  text-align: center;
  width: 64px;
  padding: 6px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.main .container form .btn_box .btn:hover {
  background-color: #CD6521;
}

.modal.simple .top_text {
  text-align: center;
  margin-bottom: 18px;
}

.modal.simple .top_text .day_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 17px;
}

.modal.simple .top_text .day_text .day {
  margin-right: 73px;
}

.modal.simple .btn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid #DDDDDD;
}

.modal.simple .btn_block p.back {
  display: block;
  width: 64px;
  border-radius: 6px;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #DDDDDD;
}

.modal.simple .btn_block p.back:hover {
  opacity: 1;
  background-color: #D9D9D9;
}

.list .container form .content.first {
  width: 648px;
}

.list .container form .content.first .input_box .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 9px 0;
}

.list .container form .content.first .input_box .date span.f20 {
  margin: 0 10px;
}

.list .container form .content.first .input_box select {
  width: 232px;
}
/*# sourceMappingURL=daily-report.css.map */

#delete_button{
  display:none;
  margin-top: 50px;
}
