.main .container h2.mds {
  margin-bottom: 17px;
}

.main .container form .c_block {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container form .c_block .btn_box {
  margin-top: 0;
}

.main .container form .c_block .btn_box .btn {
  width: 176px;
  padding: 10px 0;
}

.main .container form .content {
  padding: 20px 33px;
  background-color: #FFFFFF;
}

.main .container form .content .flex {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main .container form .content .input_box {
  margin-right: 16px;
}

.main .container form .content .input_box h3 {
  margin-bottom: 8px;
}

.main .container form .content .input_box input {
  width: 183px;
}

.main .container form .content .input_box select {
  width: 275px;
}

.main .container form .content .input_box .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 9px 0;
}

.main .container form .content .input_box .date span.f20 {
  margin: 0 10px;
}

.main .container form .content .input_box:last-child {
  margin-right: 0;
}

.main .container form .content .input_box.property {
  margin-right: 22px;
}

.main .container form .content .input_box.property input {
  width: 410px;
}

.main .container form .content .select_box .item_btn {
  position: relative;
  border: 1px solid #A9A9A9;
  border-radius: 4px;
  width: 110px;
  padding: 13px 0;
  padding-left: 12px;
}

.main .container form .content .select_box .item_btn::before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  content: "";
  background-image: url(../../../assets/img/common/knowingly.png);
  right: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 5px;
}

.main .container form .content .select_box .item_btn.on {
  background-color: #eaeaea;
  color: #A9A9A9;
}

.main .container form .content .select_box .item_btn.on::before {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.main .container form .content .text {
  margin-top: 22px;
  margin-right: 35px;
}

.main .container form .content.first {
  width: 100%;
}

.main .container form .content .hidden_menu {
  margin-top: 16px;
  display: none;
}

.main .container form .content .hidden_menu.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container form .content .hidden_menu .input_box:first-child input {
  width: 139px;
}

.main .container form .content .hidden_menu .input_box.address input {
  width: 250px;
}

.main .container form .content .hidden_menu .input_box.management input {
  width: 163px;
}

.main .container form .content .hidden_menu .input_box.check input[type="checkbox"] {
  width: auto;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

.main .container form .content .hidden_menu .input_box.check input[type="checkbox"]::before, .main .container form .content .hidden_menu .input_box.check input[type="checkbox"]::after {
  content: "";
  display: block;
  position: absolute;
}

.main .container form .content .hidden_menu .input_box.check input[type="checkbox"]::before {
  background-color: #fff;
  border-radius: 0%;
  border: 1px solid #D2D2D2;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  border-radius: 4px;
}

.main .container form .content .hidden_menu .input_box.check input[type="checkbox"]::after {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  opacity: 0;
  height: 6px;
  width: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -7px;
  left: 6px;
}

.main .container form .content .hidden_menu .input_box.check input[type="checkbox"]:checked::before {
  background-color: #333333;
}

.main .container form .content .hidden_menu .input_box.check input[type="checkbox"]:checked::after {
  opacity: 1;
}

.main .container form .count_nav {
  margin-top: 20px;
}

.main .container form .count_nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .container form .count_nav .list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  margin-right: 8px;
  text-align: center;
}

.main .container form .count_nav .list li .item {
  color: #fff;
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 8px 0;
}

.main .container form .count_nav .list li .num {
  background-color: #D7D7D7;
  border-radius: 8px;
  min-width: 54px;
  padding: 1px 16.5px;
}

.main .container form .count_nav .list li.all .item {
  background-color: #ECA16A;
}

.main .container form .count_nav .list li.before-survey .item {
  background-color: #A0ADBA;
}

.main .container form .count_nav .list li.estimated .item {
  background-color: #7DB5F0;
}

.main .container form .count_nav .list li.construction .item {
  background-color: #70C0EE;
}

.main .container form .count_nav .list li.done .item {
  background-color: #6FCF97;
}

.main .container form .count_nav .list li.claim .item {
  background-color: #F3CD57;
}

.main .container form .count_nav .list li.payment .item {
  background-color: #EB8357;
}

.main .container form .count_nav .list li.distribution .item {
  background-color: #f56262c8;
}

.main .container form .count_nav .list li.cancel .item {
  background-color: #D4D4D4;
}

.main .container form .count_nav .list li:last-child {
  margin-right: 0;
}

.main .container form .btn_box {
  text-align: right;
  margin-top: 32px;
}

.main .container form .btn_box .btn {
  display: inline-block;
  background-color: #ECA16A;
  color: #fff;
  border: 1px solid #ECA16A;
  border-radius: 6px;
  text-align: center;
  width: 64px;
  padding: 6px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.main .container form .btn_box .btn:hover {
  background-color: #CD6521;
}

.modal.simple .top_text {
  text-align: center;
  margin-bottom: 18px;
}

.modal.simple .top_text .day_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 17px;
}

.modal.simple .top_text .day_text .day {
  margin-right: 73px;
}

.modal.simple .btn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid #DDDDDD;
}

.modal.simple .btn_block p.back {
  display: block;
  width: 64px;
  border-radius: 6px;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #DDDDDD;
}

.modal.simple .btn_block p.back:hover {
  opacity: 1;
  background-color: #D9D9D9;
}
/*# sourceMappingURL=manage.css.map */