/**.master.input .container {
    margin-top: 0;
    margin-left: 0;
}**/

.master.input .mds_box {
    padding-top: 33px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d7d7d7;
}

/**.master.input .mds_box .breadcrumb {
    padding-left: 53px;
}**/

.master.input .mds_box .mds_flex {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 32px;
}

.master.input .mds_box .mds_flex h2 {
    margin-top: 0;
}

.master.input .form_block {
    margin: 0 auto;
}

.master.input .form_block .required {
    margin-left: 20px;
    color: #fff;
    background-color: #eb5757;
    padding: 5px 6px;
    border-radius: 33px;
    text-align: center;
}

.master.input .form_block .content_item {
    margin-bottom: 32px;
}

.master.input .form_block .content_item h3 {
    margin-bottom: 26px;
}

.master.input .form_block .content_item .content_bg {
    background-color: #fff;
    padding: 28px 32px;
}

.master.input .form_block .content_item .content_bg .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #d7d7d7;
}

.master.input .form_block .content_item .content_bg .box .left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    margin-right: 7.171%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.master.input .form_block .content_item .content_bg .box .right {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
}

.master.input .form_block .content_item .content_bg .box .right input {
    width: 100%;
}

.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="code"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="zip_code"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="tel"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="fax"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="rate"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="margin_rate"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="closing_date"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="payment_date"] {
    width: 183px;
}

.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="name"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="kana"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="email"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="owner"] {
    width: 400px;
}
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="address"] {
    width: 100%;
}

.master.input .form_block .content_item .content_bg .box:last-child {
    margin-bottom: 0;
    padding-bottom: 0%;
    border-bottom: transparent;
}

.master.input .form_block .content_item .content_bg .radio_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.master.input .form_block .content_item .content_bg .radio_list .radio {
    position: relative;
    margin-right: 85px;
}

.master.input
    .form_block
    .content_item
    .content_bg
    .radio_list
    .radio
    input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.master.input .form_block .content_item .content_bg .radio_list .radio label {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 0;
    padding-left: 30px;
    position: relative;
    width: auto;
}

.master.input
    .form_block
    .content_item
    .content_bg
    .radio_list
    .radio
    label::before {
    background: #fff;
    border: 1px solid #caecf6;
    border-radius: 50%;
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    left: -5px;
    position: absolute;
    top: -6%;
}

.master.input
    .form_block
    .content_item
    .content_bg
    .radio_list
    .radio
    label::after {
    background: #4973ac;
    border-radius: 50%;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    left: 1.3px;
    margin-top: -4px;
    opacity: 0;
    position: absolute;
    top: 36%;
}

.master.input
    .form_block
    .content_item
    .content_bg
    .radio_list
    .radio
    input[type="radio"]:checked
    + label::after {
    opacity: 1;
}

.master.input
    .form_block
    .content_item
    .content_bg
    .radio_list
    .radio:last-child {
    margin-right: 0;
}

.master.input .form_block .content_item:last-child {
    margin-bottom: 0;
}

.master.input
    .form_block
    .content_item.hourly-wage
    .content_bg
    .box
    .right
    input {
    width: 183px;
}

.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="name"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="kana"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="owner"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="cylinder"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="info_attendance"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="info_estimation"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="info_imaging"],
.master.input
    .form_block
    .content_item
    .content_bg
    .box
    .right
    input[name="info_inspection"] {
    width: 100%;
}

.master.input .form_block .btn_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: space-between;
}

.master.input .form_block .btn_block .flex_box {
    display: flex;
}

.master.input .form_block .btn_block .o_btn {
    padding: 8px 0;
}

.master.input .form_block .btn_block .delete {
    width: 112px;
    text-align: center;
    border-radius: 6px;
    margin-right: 16px;
    padding: 8px 0;
    -webkit-box-shadow: 0 1px 2px #00000015;
    box-shadow: 0 1px 2px #00000015;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;

    background-color: #d33535;
    color: #fff;
    border: transparent;
}

.master.input .form_block .btn_block .back {
    width: 112px;
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    margin-right: 16px;
    padding: 8px 0;
    border: 1px solid #d7d7d7;
    -webkit-box-shadow: 0 1px 2px #00000015;
    box-shadow: 0 1px 2px #00000015;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

.master.input .form_block .btn_block .back:hover {
    background-color: #d9d9d9;
}

#modal02 .btn_block .back {
    width: 112px;
    margin-right: 16px;
}

#modal02 .btn_block .o_btn {
    width: 140px;
    padding: 8px 0;
}
/*# sourceMappingURL=master-input.css.map */
textarea:focus {
    border: solid 2px #167ac6;
    top: -1px;
    left: -1px;
}

.index_block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.index_block .tab {
    padding: 0.5em 1.5em;
    margin-left: -3px;
    background-color: #eeeeee;
    border: solid 1px #fafafa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
    cursor: pointer;
}
.index_block .tab:last-child {
    margin-left: 0;
}
.index_block .tab.active {
    background-color: white;
    z-index: 2;
}
.content_block {
    background-color: white;
    z-index: 3;
}
.content_block .tab_content {
    border-top-left-radius: 0;
}
.content_block .tab_content.standby {
    display: none;
}
